body {
  font-family: Arial, sans-serif;
  background-color: #e4e2e2;
  margin: 0;
  padding: 20px;
  
}

h1 {
  text-align: center;
  color: #2c3e50;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s ease;
}

input:focus {
  border-color: #0004ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 4, 255, 0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* permite controle manual */
}

th:nth-child(1) { width: 8%; } /* Marcas */
th:nth-child(2) { width: 4%; } /* Modelos */
th:nth-child(3) { width: 5%; } /* Prazo de Garantia */
th:nth-child(4) { width: 4%; } /* Tipo de Garantia */
th:nth-child(5) { width: 15%; } /* Contato / Observações */




th, td {
  color: #2c3e50;
  font-size: 16px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  
}

th {
  
  background-color: #0004ff;
  color: white;
  pointer-events: none;
}



tr:hover {
 
  outline: none;
  box-shadow: 0 0 5px rgba(0, 4, 255, 0.3);
  background-color: #d4d4d4;
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
 

}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 10px;
  position: relative;
}

#fecharModal {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}

.col-oculta,
.col-oculta + td {
  display: none;
}


#tabelaGarantias th:nth-child(6),
  #tabelaGarantias td:nth-child(6) {
    display: none;
  }